<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cofproject.tau.android.cof">

    <!-- >Dangerous Permissions</! -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- >Normal Permissions</! -->
    <supports-screens
        android:resizeable= "false"
        android:smallScreens= "true"
        android:normalScreens= "true"
        android:largeScreens= "false"
        android:xlargeScreens= "false"
        android:requiresSmallestWidthDp = "260"/>
    <application


        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CoFilter"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".PhotoFiltering"
            android:parentActivityName="cofproject.tau.android.cof.MainActivity"
            android:label="@string/title_activity_filter_photo">
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="cofproject.tau.android.cof.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>